/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  
   Variables 
*/



/*  
   General styles 
*/

body {
	font: 400 13pt/1.17 sans-serif;
	background: #aab2bd;
	color: #434a54;
}

::selection, input::selection {
	background: #8cc152;
	color: #fff;
}

a, a:link {
	color: #8cc152;
}

a:visited {
	opacity: 0.7;
}

a:hover {
	color: #f00;
}


/*  
   General layout 
*/

.wrapper {
	position: absolute;
	top: 0;
	height: 100%;
	overflow: hidden;
}

.wrapper-header {
	left: 0;
	width: 160px;

	transition-property: right width;
	transition-duration: 600ms;
	transition-timing-function: ease-in-out;
}

.wrapper-content {
	left: 160px; right: 0;

	transition-property: left width;
	transition-duration: 600ms;
	transition-timing-function: ease-in-out;

}

.nav-list {

	li {
		padding: 0 10px;
		border-bottom: solid 1px #aab2bd;

		img {
			vertical-align: middle;
		}
	}

	&.fix-bottom {
		position: absolute;
		bottom: 0;
		width: 160px;

		li {
			border-top: solid 1px #aab2bd;
		}
	}
}

.form-controls {
	margin-bottom: 15px;
	font-size: 9pt;
}


/*  
   Card layout 
*/

// Variables

@card-nav-width: 160px;
@card-sources-width: 200px;
@card-tools-width: 240px;
@card-main-width: 460px-14px;
@card-meta-width: 320px;

// Mixins

.slide-out( @left ) {
	left: @left; right: auto;
}

// Styles

.card { 
	position: absolute;
	display: block;
	top: 0;
	height: 100%;
	overflow: hidden;

	background: #e6e9ed;
	box-shadow: 0 0 2px #aab2bd inset;

	@card-header-height: 40px;
	header {
		height: @card-header-height;
		padding: 0 8px;

		border-bottom: solid 1px #aab2bd;
		line-height: @card-header-height;

		h1 {
			float: left;
			font-size: 9pt;
		}

		aside {
			margin-top: (@card-header-height - 24px)/2px;
			float: right;
		}
	}

	&.card-collapsable {

	}

	&.card-nav {
		left: 0;
		width: @card-nav-width;
		z-index: 70;
	}

	&.card-sources {
		right: @card-meta-width+@card-main-width+@card-tools-width;
		width: @card-sources-width;
		z-index: 60;
	}

	&.card-tools {
		right: @card-meta-width+@card-main-width;
		width: @card-tools-width;
		z-index: 50;
	}

	&.card-main-content {
		right: @card-meta-width;
		width: @card-main-width;
		z-index: 40;
	}

	&.card-meta-content {
		right: 0;
		width: @card-meta-width;
		z-index: 30;
	}
}

body.hide-meta {
	.card {
		&.card-meta-content {
			display: none;
		}
	}
}

/* 
 * Header card 
 */

.card-nav {
	transition-property: right width;
	transition-duration: 600ms;
	transition-timing-function: ease-in-out;

	.nav-list {
		li {
			height: 60px;

			line-height: 60px;
			white-space: nowrap;
		}
	}

	span {
		opacity: 1;
		
		transition-property: opacity;
		transition-duration: 600ms;
		transition-timing-function: ease-in-out;
	}
}


/* 
 * Content sources card 
 */

.card-sources {
	.nav-list {
		li {
			height: 76px;
			line-height: 76px;
		}
	}
}


/* 
 * Content tools card 
 */

.card-tools {
	.content {
		padding: 10px;
	}
}


/* 
 * Main content card 
 */

.card-main-content {
	article {
		border-bottom: solid 1px #aab2bd; 
		box-sizing: border-box;
		padding: 10px;
		width: 100%;
		height: 100px;

		img {
			float: left;
			padding: 0 7px 7px 0;
		}
	}
}


/* 
 * Meta content card 
 */

.card-meta-content {
	.content {
		padding: 10px;
	}
}


/* 
 * Max screen size (> 1366px width)
 * --------------------------------
 * This makes the sources and tools cards stick to the left of their wrapper
 * instead of the right. This allows the main content card to resize freely
 * with the browser window, maximizing screen usage.
 */

@media(min-width: 1366px) {
	.card { 

		&.card-sources {
			left: 0; right: auto;
			width: @card-sources-width;
		}

		&.card-tools {
			left: @card-sources-width; right: auto;
			width: @card-tools-width;
		}

		&.card-main-content {
			left: @card-sources-width+@card-tools-width;
			right: @card-meta-width;
			width: auto;
		}

		&.card-meta-content {
			right: 0;
			width: @card-meta-width;
		}
	}

	body.hide-meta {
		.card {
			&.card-sources {
				right: @card-main-width+@card-tools-width;
			}

			&.card-tools {
				right: @card-main-width;
			}

			&.card-meta-content {
				display: none;
			}
		}
	}
}

@media(max-width: 1366px) {
	.card {
		&.card-sources {
			&:active {
				.slide-out( 0 );
			}
		}
	}
}


/* 
 * Medium screen size (< 1206px width)
 * -----------------------------------
 * Fixes the sources card to the left so other content will flow under it.
 */

@media(max-width: 1206px) {
	.card { 
		&.card-collapsable {

		}

		&.card-sources {
			left: -@card-sources-width+40px; right: auto;
		}

		&.card-tools {
			&:active {
				.slide-out( 40px );
			}
		}
	}
}


/* 
 * Small monitor/medium tablet screen size (< 1006px width)
 * -----------------------------------
 * Fixes the tools card to the left so other content will flow under it.
 */

@media(max-width: 1006px) {
	.card { 
		&.card-collapsable {

		}

		&.card-tools {
			left: -@card-sources-width+40px; right: auto;
		}

		&.card-main-content {
			&:active {
				.slide-out( 80px );
				+.card-meta-content {
					.slide-out( 80px+@card-main-width );
				}
			}
		}
	}

	body.hide-meta {
		.card {
			&.card-sources {
			}

			&.card-tools {
			}

			&.card-main-content {
				right: 0;
			}
		}
	}
}


/* 
 * Small tablet screen size (< 768px width)
 * -----------------------------------
 */

@collapsed-header-width: 54px;
@media(max-width: 768px) {
	.wrapper-header {
		width: @collapsed-header-width;
	}

	.wrapper-content {
		left: @collapsed-header-width;
	}

	.card { 
		&.card-collapsable {

		}

		&.card-nav {
			width: @collapsed-header-width;
			.nav-list {
				li {

				}

				span {
					opacity: 0;
				}
			}
		}
	}
}


/* 
 * Collapsed meta panel
 */

@media(max-width: 1366px) {
	body.hide-meta {
		.card {
			&.card-sources {
				left: 0;
			}

			&.card-tools {
				left: @card-sources-width;
			}

			&.card-main-content {
				left: @card-sources-width+@card-tools-width;
			}
		}
	}
}

@media(max-width: 1046px) {
	body.hide-meta {
		.card {
			&.card-sources {
				left: auto; right: @card-main-width+@card-tools-width;
			}

			&.card-tools {
				left: auto; right: @card-main-width;
			}

			&.card-main-content {
				left: auto; right: 0;
			}
		}
	}
}

@media(max-width: 886px) {
	body.hide-meta {
		.card {
			&.card-sources {
				left: -@card-sources-width+40px; right: auto;
			}

			&.card-tools {
				left: auto; right: @card-main-width;
			}

			&.card-main-content {
				left: auto; right: 0;
			}
		}
	}
}

@media(max-width: 580px) {
	body.hide-meta {
		.card {
			&.card-tools {
				left: -@card-sources-width+40px; right: auto;
			}

			&.card-main-content {
				left: auto; right: 0;
			}
		}
	}
}


/* 
 * Large phones (< 494px width)
 * -----------------------------------
 * Fixes the content card to the left so other content will flow under it.
 */
/*
@media(max-width: 494px) {
	.card { 
		&.card-collapsable {

		}

		&.card-main-content {
			left: -326px;
			right: auto;
		}
	}
}*/