/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  
   Variables 
*/



/*  
   General styles 
*/

body {
	font: 400 13pt/1.17 sans-serif;
	background: #aab2bd;
	color: #434a54;
}

::selection, input::selection {
	background: #8cc152;
	color: #fff;
}

a, a:link {
	color: #8cc152;
}

a:visited {
	opacity: 0.7;
}

a:hover {
	color: #f00;
}


/*  
   General layout 
*/

.wrapper {
	position: absolute;
	top: 0;
	height: 100%;
	overflow: hidden;
}

.wrapper-header {
	left: 0;
	width: 160px;
}

.wrapper-content {
	left: 160px; right: 0;
}


/*  
   Card layout 
*/

@card-nav-width: 160px;
@card-sources-width: 200px;
@card-tools-width: 240px;
@card-main-width: 460px-14px;
@card-meta-width: 320px;

.card { 
	position: absolute;
	display: block;
	top: 0;
	height: 100%;
	overflow: hidden;

	background: #e6e9ed;
	box-shadow: 0 0 2px #aab2bd inset;

	&.card-collapsable {

	}

	&.card-nav {
		left: 0;
		width: @card-nav-width;
	}

	&.card-sources {
		right: @card-meta-width+@card-main-width+@card-tools-width;
		width: @card-sources-width;
	}

	&.card-tools {
		right: @card-meta-width+@card-main-width;
		width: @card-tools-width;
	}

	&.card-main-content {
		right: @card-meta-width;
		width: @card-main-width;
	}

	&.card-meta-content {
		right: 0;
		width: @card-meta-width;
	}
}