/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  
   Variables 
*/

@duration-snappy: 100ms;
@duration-short: 200ms;
@duration-medium: 400ms;
@duration-long: 600ms;
@ease-in-out: ease-in-out;

@white: #fff;
@lighter-gray: #fafafa;
@light-gray: #eee;
@medium-gray: #c0c0c0;
@dark-gray: #c6c6c6;
@darker-gray: #666;
@darkest-gray: #4a4a4a;
@black: #242424;
@green: #50bc5a;
@dark-green: #2da041;

@text: @darker-gray;
@header: @darkest-gray;
@accent: @green;
@dark-accent: @dark-green;
@body-color: @light-gray;

@card-shadow: rgba(0,0,0,0.1);


/*  
   General styles 
*/

body, html {
	overflow: hidden;
}

body {
	font: 400 13pt/1.17 sans-serif;
	background: @body-color;
	color: @text;
}

::selection, input::selection {
	background: @accent;
	color: #fff;
}

a, a:link {
	color: @accent;
}

a:visited {
	opacity: 0.7;
}

a:hover {
	color: @accent;
}

.ps-container {
	.ps-scrollbar-y-rail {
		width: 6px;
		padding: 5px 0;
	}

	.pos-scrollbar-y {
		width: 6px;
	}
}


/*  
   General layout 
*/

.wrapper {
	position: absolute;
	top: 0;
	height: 100%;
}

.wrapper-header {
	left: 0;
	width: 54px;
}

.wrapper-content {
	left: 54px; right: 0;
}

.content-list {
	li {
		margin: 0 10px;
		border-bottom: solid 1px @light-gray;

		img {
			vertical-align: middle;
		}
	}

	&.fix-bottom {
		position: absolute;
		bottom: 0;
		width: 160px;

		li {
			border-top: solid 1px @light-gray;
		}
	}
}

.form-controls {
	margin-bottom: 15px;
	font-size: 9pt;
}


/*  
   Card layout 
*/

// Variables

@card-nav-width: 54px;
@card-sources-width: 200px;
@card-tools-width: 240px;
@card-main-width: 460px-14px;
@card-meta-width: 320px;

// Mixins

.slide-out( @left ) {
	left: @left; right: auto;
}

// Styles

@card-header-height: 40px;
.card { 

	position: absolute;
	display: block;
	top: 0;
	height: 100%;

	header {
		height: @card-header-height;
		margin: 0 10px;

		border-bottom: solid 2px @light-gray;
		line-height: @card-header-height;

		h1 {
			float: left;
			color: @header;
			font-family: 'Open Sans', sans-serif;
			font-size: 10.5pt;
			font-weight: 800;
			text-transform: uppercase;
		}

		aside {
			margin-top: 3px;
			float: right;

			a {
				display: inline-block;
				height: 30px;
				color: @medium-gray;
			}

			i {
				font-size: 24px;
			}
		}
	}

	.content-container {
		position: absolute;
		top: @card-header-height+2px;
		left: 0; right: 0; bottom: 0;
		overflow: hidden;
		overflow-y: auto;
	}

	&.card-collapsable {
		.collapsed {
			display: none;
		}
	}

	&.card-nav {
		left: 0;
		width: @card-nav-width;
		z-index: 70;
	}

	&.card-sources {
		right: @card-meta-width+@card-main-width+@card-tools-width;
		width: @card-sources-width;
		z-index: 60;
	}

	&.card-tools {
		right: @card-meta-width+@card-main-width;
		width: @card-tools-width;
		z-index: 50;
	}

	&.card-main-content {
		right: @card-meta-width;
		width: @card-main-width;
		z-index: 40;
	}

	&.card-meta-content {
		right: 0;
		width: @card-meta-width;
		z-index: 30;
		-webkit-transform-origin: 50% 50%;
	}
}

.card-container {
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	box-sizing: border-box;
}

section.card {
	header {
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: @card-header-height; left: 0;
			width: 100%;
			height: 0px;

			opacity: 0;
			background: linear-gradient( 
				to top,
				rgba(0,0,0,0) 0%, 
				@card-shadow 100%
			);
		}
	}

	.card-container {
		left: 1px;
		background: @white;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0; bottom: 0; right: -7px;
			width: 0px;

			opacity: 0;
			background: linear-gradient( 
				to left,
				rgba(0,0,0,0) 0%, 
				@card-shadow 100%
			);
		}
	}

	&.card-scroll {
		header {
			border-bottom: none;

			&:after {
				height: 5px;
				opacity: 1;
			}
		}
	}

	&:first-of-type .card-container {
		left: 0px;
	}

	&:last-of-type .card-container {
		&:after {
			opacity: 1;
			width: 7px;
		}
	}
}

body.hide-meta {
	section.card {
		&.card-meta-content {
			right: 0;
			opacity: 0;
		}

		.card-container {
			&:before {
				opacity: 0;
				width: 0;
			}
			&:after {
				opacity: 0;
				width: 0;
			}
		}

		&:nth-last-of-type(2) .card-container {
			&:after {
				opacity: 1;
				width: 7px;
			}
		}
	}
}

/* 
 * Header card 
 */

.card-nav {
	header {
		position: relative;
		margin: 0;
		padding: 0;
		overflow: hidden;

		border-bottom: solid 2px @dark-accent;
		background: @accent;

		h1 {
			position: absolute;
			top: 0; left: 13px; bottom: 0; right: 0;
			z-index: 70+5;

			color: #fff;
			text-shadow: 0 2px 0 @dark-accent;
			font-size: 22pt;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			letter-spacing: -1px;
			text-indent: 3px;

			span {
				opacity: 0;
			}
		}
	}

	.content-container {
		overflow: hidden;
	}

	.content-list {
		li {
			height: 46px;
			margin: 0;
			padding: 0 0 0 12px;

			line-height: 60px;
			white-space: nowrap;

			border-bottom: none;

			i {
				vertical-align: top;
				margin-top: 11px;
				width: 28px;
				height: 28px;

				font-size: 28px;
			}

			span {
				vertical-align: top;
				display: inline-block;
				height: 46px;
				padding-left: 5px;

				opacity: 0;
				line-height: 46px;
				font-family: 'Open Sans', sans-serif;
				font-size: 10.5pt;
				font-weight: 800;
				text-transform: uppercase;
			}

			&.active {
				background: darken(@body-color, 15%);
				color: darken(@text, 20%);
			}
		}
	}

	.card-container {
		background: @body-color;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0; bottom: 0; right: 0px;
			width: 7px;
			z-index: 1000;

			opacity: 1;
			background: linear-gradient( 
				to right,
				rgba(0,0,0,0) 0%, 
				@card-shadow 100%
			);
		}
		
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0; bottom: 0; right: -7px;
			width: 0px;

			opacity: 0;
			background: linear-gradient( 
				to left,
				rgba(0,0,0,0) 0%, 
				@card-shadow 100%
			);
		}
	}
}


/* 
 * Content sources card 
 */

.card-sources {
	.content-list {
		li {
			height: 76px;
			line-height: 76px;
		}
	}
}


/* 
 * Content tools card 
 */

.card-tools {
	.content {
		padding: 10px;
	}
}


/* 
 * Main content card 
 */

.card-main-content {
	article {
		border-bottom: solid 1px @light-gray; 
		box-sizing: border-box;
		padding: 10px 0;
		margin: 0 10px;
		height: 100px;

		img {
			float: left;
			padding: 0 7px 7px 0;
		}
	}
}

.card-meta-content {
	.content {
		padding: 10px;
	}
}


/* 
 * Max screen size (> 1440px width)
 * --------------------------------
 */
@media(min-width: 1440px) {
	.wrapper-content {
		width: 1280px;
		right: auto;
	}
}


/* 
 * Max screen size (> 1366px width)
 * --------------------------------
 */
@media(min-width: 1366px) {
	.wrapper-header {
		width: 160px;
	}

	.wrapper-content {
		left: 160px;
	}

	.card { 
		&.card-collapsable {

		}

		&.card-nav {
			width: 160px;
			header h1 span { opacity: 1; }
			.content-list li span { opacity: 1; }
		}
	}
}


/* 
 * Large screen size (> 1260px width)
 * --------------------------------
 * This makes the sources and tools cards stick to the left of their wrapper
 * instead of the right. This allows the main content card to resize freely
 * with the browser window, maximizing screen usage.
 */

@media(min-width: 1260px) {
	.card { 

		&.card-sources {
			left: 0; right: auto;
			width: @card-sources-width;
		}

		&.card-tools {
			left: @card-sources-width; right: auto;
			width: @card-tools-width;
		}

		&.card-main-content {
			left: @card-sources-width+@card-tools-width;
			/*right: @card-meta-width;*/
			width: auto;
		}

		&.card-meta-content {
			right: 0;
			width: @card-meta-width;
		}
	}
}

@media(max-width: 1259px) {
	.card {
		&.card-nav {
			.card-container {
				&:before {
					width: 0px;
					opacity: 0;
				}

				&:after {
					width: 7px;
					opacity: 1;
				}
			}
		}

		&.card-sources {
			/*left: 0; right: auto;*/
			&.slide-out {
				.slide-out( 0 );
			}
		}

		/*&.card-tools {
			left: @card-sources-width; right: auto;
		}

		&.card-main-content {
			left: @card-sources-width + @card-tools-width;
			width: auto;
		}*/
	}
}


/* 
 * Medium screen size (< 1098px width)
 * -----------------------------------
 * Fixes the sources card to the left so other content will flow under it.
 */

@media(max-width: 1099px) {
	.card { 
		&.card-collapsable {

		}

		&.card-sources {
			left: -@card-sources-width+40px; right: auto;

			.card-container {
				&:before {
					opacity: 0;
					width: 0;
				}
				&:after {
					opacity: 1;
					width: 7px;
				}
			}

			.expanded {
				display: none;
			}

			.collapsed {
				display: block;
			}
		}

		&.card-tools {
			&.slide-out {
				.slide-out( 40px );
			}
		}
	}
}


/* 
 * Small monitor/medium tablet screen size (< 900px width)
 * -----------------------------------
 * Fixes the tools card to the left so other content will flow under it.
 */

@media(max-width: 900px) {
	.card { 
		&.card-collapsable {

		}

		&.card-tools {
			left: -@card-sources-width+41px; right: auto;

			.card-container {
				&:after {
					opacity: 1;
					width: 7px;
				}
			}

			.expanded {
				display: none;
			}

			.collapsed {
				display: block;
			}
		}

		&.card-main-content {
			&.slide-out {
				.slide-out( 80px );
				+.card-meta-content {
					.slide-out( 80px+@card-main-width );
				}
			}
		}
	}

	body.hide-meta {
		.card {
			&.card-sources {
			}

			&.card-tools {
			}

			&.card-main-content {
				right: 0;
			}
		}
	}
}


/* 
 * Small tablet screen size (< 768px width)
 * -----------------------------------
 */

@media(max-width: 768px) {

}


/* 
 * Collapsed meta panel
 */

@media(min-width: 1260px) {
	body.hide-meta {
		.card {
			&.card-sources {
				right: @card-main-width+@card-tools-width;
			}

			&.card-tools {
				right: @card-main-width;
			}
			
			&.card-main-content {
				width: 520px;
			}

			&.card-meta-content {
				right: 0;
				opacity: 0;
				-webkit-transform: scale( 0, 0 );
			}
		}
	}
}

@media(max-width: 1259px) {
	body.hide-meta {
		.card {
			&.card-nav {
				.card-container {
					&:before {
						width: 7px;
						opacity: 1;
					}

					&:after {
						width: 0px;
						opacity: 0;
					}
				}
			}

			&.card-sources {
				left: 0;
			}

			&.card-tools {
				left: @card-sources-width;
			}

			&.card-main-content {
				left: @card-sources-width+@card-tools-width;
				width: 520px;
			}

			.expanded {
				display: block;
			}

			.collapsed {
				display: none;
			}
		}
	}
}

@media(max-width: 1014px) {
	body.hide-meta {
		.card {
			&.card-main-content {
				right: 0;
				width: auto;
			}
		}
	}
}

@media(max-width: 940px) {
	body.hide-meta {
		.card {
			&.card-nav {
				.card-container {
					&:before {
						opacity: 0;
						width: 0;
					}
					&:after {
						opacity: 1;
						width: 7px;
					}
				}
			}

			&.card-sources {
				left: auto; right: @card-main-width+@card-tools-width;
			}

			&.card-tools {
				left: auto; right: @card-main-width;
			}

			&.card-main-content {
				left: auto; right: 0;
				width: 446px;
			}
		}
	}
}

@media(max-width: 779px) {
	body.hide-meta {
		.card {
			&.card-sources {
				left: -@card-sources-width+40px; right: auto;

				.card-container:after {
					opacity: 1;
					width: 7px;
				}

				.expanded {
					display: none;
				}

				.collapsed {
					display: block;
				}
			}

			&.card-tools {
				left: auto; right: @card-main-width;
			}

			&.card-main-content {
				left: auto; right: 0;
			}
		}
	}
}

@media(max-width: 580px) {
	body.hide-meta {
		.card {
			&.card-tools {
				left: -@card-sources-width+40px; right: auto;

				.card-container:after {
					opacity: 1;
					width: 7px;
				}

				.expanded {
					display: none;
				}

				.collapsed {
					display: block;
				}
			}

			&.card-main-content {
				left: auto; right: 0;
			}
		}
	}
}


/* 
 * Large phones (< 494px width)
 * -----------------------------------
 * Fixes the content card to the left so other content will flow under it.
 */
/*
@media(max-width: 494px) {
	.card { 
		&.card-collapsable {

		}

		&.card-main-content {
			left: -326px;
			right: auto;
		}
	}
}*/